html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  height: 4500px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #333;
  transition: all linear 0.175s;
}
* {
  box-sizing: inherit;
  border: none;
  text-decoration: none;
}
.fa-angle-right {
  font-size: 14px;
}

.grid-col-3 {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}
.grid {
  width: 1200px;
  max-width: 100%;
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/* Modal */
.modal__container.show {
  opacity: 1;
  pointer-events: all;
}
.modal__container2.show {
  opacity: 1;
  pointer-events: all;
}
.modal__container,
.modal__container2 {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  /* animation: fadeIn linear 0.2s; */
}
.modal__container.show .modal,
.modal__container2.show .modal {
  animation: fadeIn linear 0.2s;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 889;
}
.modal__body {
  margin: auto;
  z-index: 900;
  position: relative;
  animation: growth linear 0.2s;
}
#modal__container.show .modal__body,
#modal__container2.show .modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
}
.btn {
  min-width: 142px;
  min-height: 36px;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.btn-normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--size-s {
  height: 32px;
  font-size: 12px;
}
.btn.btn--primary {
  background-color: #a70e1a;
  color: var(--white-color);
}
